#amount-input {
	background: transparent; 
	border: none;
	color:white;
	width:145px;
}
#amount-input::-webkit-input-placeholder {
	color: white;
}
#amount-spent-on {
	background: transparent; 
	border: none;
	color:white;
	width:auto;
	option {
		background-color: #FF4000;
		border:none;
	}
}
body {
	font-family: 'Dosis', sans-serif;
	/*background-color:#FF4000;*/
	background-image: linear-gradient(to top,#EB2B24,#EB5324);	
	color:white;
	margin:0;
	overflow:hidden;
	padding:0;
}
button {
	border:none;  
	border-radius:5px;
}
.container-margins {
	margin-left:10%;
	margin-right:10%;
}
.flex-column {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;

}
#heading {
	font-size:50px;
	font-weight:bold;
	margin:0;
	margin-top:20px;
	padding:0;
	text-align:center;
	white-space:nowrap;
}
#main-section {
	font-size:2.75em;
	margin-top:20px;
	white-space:nowrap;
	     margin: 0 auto;

}
#today-i-spent {
	p {
		margin:0;
		margin-bottom:0px;
		padding:0;
	}
	#track-button {
		color:#FF4000;		
		font-size:.75em;
		width:120px;
	}
}